################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/x64/Debug
/packages/ManagedCuda-70-x64.7.0.27
/packages/OxyPlot.Core.1.0.0-unstable1904
/packages/OxyPlot.Wpf.1.0.0-unstable1904
/RiskEngine/obj/x64/Debug
/RiskEngine.Tests/obj/x64/Debug
/VectorAccelerator/obj/x64/Debug
/VectorAccelerator.Launcher/obj/x64/Debug
/VectorAccelerator.Plot/obj/x64/Debug
/VectorAccelerator.Tests/obj/x64/Debug
/bin/x64/Release
/RiskEngine/bin/x64/Release
/RiskEngine/obj/x64/Release
/RiskEngine.Tests/bin/x64/Release
/.vs/VectorAccelerator/v14
/VectorAccelerator/obj/x64/Release
/VectorAccelerator.Launcher/obj/x64/Release
/VectorAccelerator.Plot/bin/x64/Release
/VectorAccelerator.Plot/obj/x64/Release
/VectorAccelerator.Tests/obj/x64/Release
/RiskEngine.Tests/obj/x64/Release
/packages/NUnit.3.5.0
/.vscode
/.vs
/NArray/bin/Release
/NArray/obj/Release
/NArray.Tests/bin/Release
/NArray.Tests/obj/Release
/NArray/bin/Debug
/NArray/obj/Debug
/NArray.Tests/bin/Debug
/NArray.Tests/obj/Debug
/NArray/bin/x64/Debug
/NArray/obj/x64
/NArray.Tests/obj/x64
/RiskEngine/bin/x64/Debug
/RiskEngine/obj/Debug
/RiskEngine.Tests/obj/Debug
/VectorAccelerator/bin/x64/Debug
/VectorAccelerator/obj/Debug
/VectorAccelerator.Launcher/bin/Debug
/VectorAccelerator.Launcher/obj/Debug
/VectorAccelerator.Tests/obj/Debug
